<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p> 
        <a href="/spenden">Spenden</a> <a href="/impressum">Impressum</a> <a href="/datenschutz">Datenschutz</a></i> <a href="/kontakt">Kontakt</a>
        </p>
        <p> 
        Designed mit <a href="http://getgrav.org">Grav</a> und <a href="https://gitlab.com/foodsharing-dev/foodsharing-stadt"><i class="fa fa-heart-o pulse "></i></a>

        &nbsp; &nbsp; &nbsp; &nbsp;    Besuch uns auf 

        <a href="https://www.facebook.com/foodsharingstaedte/">
        <img src="/user/images/social_media/fb.png" width=30 />
        </a>

         <a href="https://www.instagram.com/foodsharing_staedte/">
        <img src=/user/images/social_media/instagram.png width=30 />
        </a>
        
        </p>
    </section>
</section>




