{% set grid_size = theme_var('grid-size') %}

<section class="section modular-text {{page.header.class}} {{page.header.background}}">
    <section class="container {{ grid_size }}">

<div class="column col-12 mot_unterzeichnet">
                {{ content|raw }}
            </div>


</section>
</section>
