{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section class="section modular-text {{ page.header.class}} {{page.header.background|default('bg-gray')}}">
    <section class="container {{ grid_size }}">
        <div class="custom_teampage">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-9 col-md-12">                
                {{ content|raw }}
            </div>
            <div class="column col-3 col-md-12">
                {% if image %}
                    {{ image.html|raw }}
                {% endif %}
            </div>
            {% else %}
            <div class="column col-12">
                {{ content|raw }}
            </div>
            {% endif %}
        </div>
        </div>
    </section>
</section>


