{% set grid_size = theme_var('grid-size') %}
{% set image = page.header.image %}
{% set image_tree = page.header.image_tree %}


<section class="section modular-text {{ page.header.class}} {{page.header.background|default('bg-gray')}}">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-6 col-md-12">
                {{ content|raw }}
            </div>
            <div class="column col-6 col-md-12">
                {% if image %}
                <img src="/user/images/tree/{{ image_tree}}" />   
                {% endif %}
            </div>
            {% else %}
            <div class="column col-12">
                {{ content|raw }}
            </div>
            {% endif %}
        </div>
    </section>
</section>
