{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section class="section modular-text {{ page.header.class}} {{page.header.background|default('bg-gray')}}">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-6 col-md-12">                
                 <a href="#fruechte"> 
                 <img src="/user/images/icons_old/blatt1.png" alt="Blatt" height=15px />
                 nach oben zu den Früchten</a>
                {{ content|raw }}
            </div>
            <div class="column col-6 col-md-12">
                {% if image %}
                    {{ image.html|raw }}
                {% endif %}
            </div>
            {% else %}
            <div class="column col-12">
                 <a href="#fruechte"> 
                 <img src="/user/images/icons_old/blatt1.png" alt="Blatt" height=15px />
            nach oben zu den Früchten</a>
                {{ content|raw }}
            </div>
            {% endif %}
        </div>
    </section>
</section>


