#body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  #header { width: 100%;
     height: 4rem;
      border-bottom: 1px solid rgba(172, 179, 194, 0.2);
       font-size: 0.7rem;
        font-weight: 700;
         background: #fff;
          color: #454d5d; }

#header .navbar-section {
            height: 4rem; }          
          
#header .logo img { 
  height: 64px;
  width: auto;
  display: inherit; }
  

.mobile-logo svg, .mobile-logo img { height: 150px; width: 150px; margin-top: .7rem; margin-left: 1.4rem; }


.custom_feature h6 {
  margin-top: 0rem
  }

.custom_feature img {
    height: 150px;
    opacity: 0.5;      
  }

.custom_feature img:hover {
    opacity: 1;  
  }

.mot_unterzeichnet{
  background-color: #66ad3253 ;
  margin: 0px;
  margin-top: -100px;
  padding-top: 0px;

}





/*
Comments

#header a { color: #533a20; }

.navbar .navbar-section { -ms-flex-align: top; align-items: top; display: -ms-flexbox; display: flex; -ms-flex: 1 0 0px; flex: 1 0 0; }

*/

/* Team Seite  */

.custom_teampage img {
    border-radius: 5%;
    height: 100%;

}

.custom_teampage {
}

